<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <section class="container">
        <h1>Pay My Buddy</h1>
        <p th:if="${param.error}"
           class="error"
           role="alert"
           aria-live="polite">
            Email ou mot de passe incorrect.
        </p>
        <form th:action="@{/login}" method="post">
            <label class="sr-only" for="username">Mail</label>
            <input
                    type="email"
                    id="username"
                    name="username"
                    placeholder="Mail"
                    required
                    aria-required="true"
            />

            <label class="sr-only" for="password">Mot de passe</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Mot de passe"
                    required
                    aria-required="true"
            />

            <button type="submit">Se connecter</button>
        </form>
    </section>
</main>
</body>
</html>
